# All Pandas All The Time

Pandas is a library we're going to be using pretty much every day in this course, so we're going to do a ton of practice so you can be on your way to becoming a _PANDAS MASTER_.

![Kung fu panda excited](https://data.whicdn.com/images/201331793/original.gif)

Let's continue with the data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Once again starting off with intake data, which is data describing the animals as they enter the shelter.

In [1]:
# Imports! Can't use pandas unless we bring it into our notebook
import pandas as pd

In [2]:
# Grab the data, naming the dataframe 'intakes' this time
# Don't forget to read in DateTime as a datetime column
!ls data/
intakes = pd.read_csv('data/Austin_Animal_Center_Intakes_030921.csv', parse_dates=['DateTime'])

Austin_Animal_Center_Intakes_030921.csv
Austin_Animal_Center_Outcomes_030921.csv

In [3]:
# Check out the first few rows
intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [4]:
# Check information on the dataframe
intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124222 entries, 0 to 124221
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124222 non-null  object
 1   Name              85158 non-null   object
 2   DateTime          124222 non-null  datetime64[ns]
 3   MonthYear         124222 non-null  object
 4   Found Location    124222 non-null  object
 5   Intake Type       124222 non-null  object
 6   Intake Condition  124222 non-null  object
 7   Animal Type       124222 non-null  object
 8   Sex upon Intake   124221 non-null  object
 9   Age upon Intake   124222 non-null  object
 10  Breed             124222 non-null  object
 11  Color             124222 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.4+ MB

Let's do some of the transformations we did last time: dropping the MonthYear column, and changing column names to be lowercase without spaces.

In [5]:
# Drop MonthYear
intakes = intakes.drop(columns = ['MonthYear'], axis = 1)

In [6]:
intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124222 entries, 0 to 124221
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124222 non-null  object
 1   Name              85158 non-null   object
 2   DateTime          124222 non-null  datetime64[ns]
 3   Found Location    124222 non-null  object
 4   Intake Type       124222 non-null  object
 5   Intake Condition  124222 non-null  object
 6   Animal Type       124222 non-null  object
 7   Sex upon Intake   124221 non-null  object
 8   Age upon Intake   124222 non-null  object
 9   Breed             124222 non-null  object
 10  Color             124222 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 10.4+ MB

In [7]:
# For that we can use a lambda function: 
# Why am I getting invalid syntax here? 
intakes = intakes.rename(columns = lambda x: x.replace(" ","_").lower())

In [8]:
# sanity check
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

## Dealing with Dirty Data

It is a fact of the data science life - you will always be surrounded by 'dirty' data. What does it mean for data to be 'dirty'? What are some of the various ways that data can be 'dirty'?

-

In [9]:
# Check for null values recognized by pandas as blank
intakes.isna().sum()

animal_id               0
name                39064
datetime                0
found_location          0
intake_type             0
intake_condition        0
animal_type             0
sex_upon_intake         1
age_upon_intake         0
breed                   0
color                   0
dtype: int64

There is no one way to deal with null values. What are some of the strategies we can use to deal with them?

- fill nulls (with something that shows that they're null) 
- change to 0 (if it doesn't skew your data too much)
- fill w/ median or mode

How, in Pandas, can we fill null values recognized by Pandas as null? Let's practice by filling nulls for the Name column with some placeholder value, like 'No name'.

Helpful link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

In [10]:
# Code here to fill nulls in the Name column
intakes['name'].isna().sum()

39064

In [11]:
intakes['name']=intakes['name'].fillna(value='No Name')

Now let's check for nulls again...

In [12]:
# Sanity check
intakes['name'].isna().sum()

0

In [13]:
intakes.isna().sum()

animal_id           0
name                0
datetime            0
found_location      0
intake_type         0
intake_condition    0
animal_type         0
sex_upon_intake     1
age_upon_intake     0
breed               0
color               0
dtype: int64

Let's try a different strategy for the one lonely null in the 'Sex upon Intake' column - let's just drop that row, since it's only one observation.

Helpful link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [14]:
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [15]:
# Code here to drop the whole row where Sex upon Intake is null
intakes = intakes.dropna(subset=['sex_upon_intake'],axis=0, how='any')

In [16]:
len(intakes)

124221

In [17]:
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [18]:
# Copy/paste
# code from above to re-check for nulls
intakes.isnull().sum()

animal_id           0
name                0
datetime            0
found_location      0
intake_type         0
intake_condition    0
animal_type         0
sex_upon_intake     0
age_upon_intake     0
breed               0
color               0
dtype: int64

How do we find sneaky null or nonsense values that aren't marked by Pandas as null?

In [19]:
# Run this cell without changes
intakes['age_upon_intake'].value_counts()

1 year       21809
2 years      19069
1 month      11910
3 years       7456
2 months      6735
4 years       4458
4 weeks       4414
5 years       4064
3 weeks       3620
3 months      3279
4 months      3203
5 months      3073
6 years       2717
2 weeks       2498
6 months      2396
7 years       2335
8 years       2284
7 months      1860
10 years      1828
9 months      1824
8 months      1500
9 years       1331
10 months     1028
1 week        1022
1 weeks        888
12 years       880
11 months      795
0 years        754
11 years       746
1 day          635
3 days         578
13 years       575
2 days         479
14 years       383
15 years       336
4 days         328
5 weeks        315
6 days         305
5 days         180
16 years       140
17 years        82
18 years        47
19 years        27
20 years        19
-1 years         5
22 years         5
-3 years         1
21 years         1
23 years         1
-2 years         1
24 years         1
25 years         1
Name: age_upon_intake, dtype: int64

Analyze the values you're finding in the 'Age upon Intake' column. What doesn't quite fit here?

**Note:** using `.value_counts()` is just one way to look at the values of a column. In this case, it works because we can see which values are the most common, and it's verbose enough to show even the less common values that might be problematic.

So - how do we want to deal with the data in here that doesn't make sense?

-

What if our goal is creating a column with a common standard for age, one which we could sort to see which animals are the oldest or youngest?

First, let's see what that would look like if we try it as the column is now:

In [20]:
# Run this cell without changes
intakes['age_upon_intake'].sort_values(ascending=True).unique()

array(['-1 years', '-2 years', '-3 years', '0 years', '1 day', '1 month',
       '1 week', '1 weeks', '1 year', '10 months', '10 years',
       '11 months', '11 years', '12 years', '13 years', '14 years',
       '15 years', '16 years', '17 years', '18 years', '19 years',
       '2 days', '2 months', '2 weeks', '2 years', '20 years', '21 years',
       '22 years', '23 years', '24 years', '25 years', '3 days',
       '3 months', '3 weeks', '3 years', '4 days', '4 months', '4 weeks',
       '4 years', '5 days', '5 months', '5 weeks', '5 years', '6 days',
       '6 months', '6 years', '7 months', '7 years', '8 months',
       '8 years', '9 months', '9 years'], dtype=object)

Let's unpack what is happening in that line of code - I take the column 'Age upon Intake' by itself (as a series), then sort the values from lowest to highest (`ascending=True`), then grab only unique results so we can see how it ordered the values without looking through all 115,088.

Does that do what we want it to? Let's discuss how this worked - how did it sort?

-

To make our problem a bit easier, without dealing with the different ways that age is broken out, let's only look at animals where the age is given in years. How can we do that?

In [21]:
# Code here to grab only the animals where age is given in years
# Brackets denote strings, but they also help to tell you things about location

intakes_years = intakes.loc[intakes['age_upon_intake'].str.contains('year')]

In [22]:
# Loc takes a true/false question; best way to check is to run condition
intakes['age_upon_intake'].str.contains('year')

0          True
1          True
2         False
3         False
4          True
          ...
124217     True
124218     True
124219     True
124220     True
124221     True
Name: age_upon_intake, Length: 124221, dtype: bool

In [23]:
# Check the shape of this subset dataframe
intakes_years.shape

(71356, 11)

In [24]:
# Sanity check
intakes_years.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate
6,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black

Can we grab only the number of years from this? Let's make a new column where we can put this data.

In [25]:
# Code here to make a new column, 'Age in Years'
split_intakes_years = intakes_years['age_upon_intake']
intakes['age_in_years'] = intakes_years['age_upon_intake'].str.split().str[0]
intakes.head()
# Did you get a 'SettingWithCopyWarning'? No worries - let's discuss

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_years
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4

In [26]:
intakes['age_in_years'] = intakes['age_in_years'].fillna(0)

In [27]:
# Code here to transform that column to an integer
intakes['age_in_years'] = intakes['age_in_years'].astype(float).astype(int)

In [28]:
print(intakes['age_in_years'].dtype)

int64

In [29]:
# Code here to check your work
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_years
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4

In [30]:
# Code here to check some statistics on our now-numeric column
intakes['age_in_years'].describe()

count    124221.000000
mean          1.963066
std           2.934892
min          -3.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          25.000000
Name: age_in_years, dtype: float64

In [31]:
# Code here to check the unique values - in order!
unique_years = intakes['age_in_years'].sort_values().unique()
print(unique_years)

[-3 -2 -1  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 21 22 23 24 25]

In [32]:
# Let's check the mean for our now-numeric column
intakes['age_in_years'].mean()

1.9630658262290595

In [33]:
# Now let's check the median
intakes['age_in_years'].median()

1.0

Let's discuss this column - what does it mean that the mean and median are different? How will that change if we remove some of the nonsense numbers?

- The data is skewed towards the right 
- Skewed towards being older
- If you took out negative/nonsense numbers, the animals would skew even more older.

In [34]:
# Code here to deal with those nonsense numbers
nonsense_years = [-3, -2, -1]
intakes['age_in_years'] = intakes['age_in_years'].replace(nonsense_years,0)

In [35]:
# Sanity check
intakes['age_in_years']

0         2
1         8
2         0
3         0
4         4
         ..
124217    2
124218    1
124219    4
124220    3
124221    2
Name: age_in_years, Length: 124221, dtype: int64

In [36]:
# Code here to re-check your mean/median values
intakes['age_in_years'].unique()

array([ 2,  8,  0,  4,  6, 14, 18,  1,  3,  5, 15,  7, 12, 10,  9, 11, 17,
       13, 19, 16, 20, 22, 23, 21, 25, 24])

In [37]:
intakes['age_in_years'].describe()

count    124221.000000
mean          1.963146
std           2.934814
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          25.000000
Name: age_in_years, dtype: float64

### Duplicates - another kind of dirty data (sometimes)

Some duplicates are legitimate, some are not - let's explore and discuss!

Let's go back to our full intakes dataframe

In [38]:
intakes.duplicated().sum()

19

In [39]:
# Check for duplicates
intakes.duplicated(subset = None, keep = 'first')

0         False
1         False
2         False
3         False
4         False
          ...
124217    False
124218    False
124219    False
124220    False
124221    False
Length: 124221, dtype: bool

In [40]:
intakes.duplicated(subset = ['animal_id'], keep = 'first')

0         False
1         False
2         False
3         False
4         False
          ...
124217    False
124218    False
124219    False
124220    False
124221    False
Length: 124221, dtype: bool

In [41]:
# Handle duplicates - only take the 1st intake for each animal
# Save it as a new version, named clean_intakes
# keep 'first' keeps the one closest to the top of the dataframe; keep 'last' keeps the one closest to the bottom
# other options include keep 'None' which keeps no duplicates
clean_intakes = intakes.drop_duplicates(subset = ['animal_id'], keep='first')

In [42]:
clean_intakes.duplicated().sum()

0

In [43]:
clean_intakes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111012 entries, 0 to 124221
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         111012 non-null  object
 1   name              111012 non-null  object
 2   datetime          111012 non-null  datetime64[ns]
 3   found_location    111012 non-null  object
 4   intake_type       111012 non-null  object
 5   intake_condition  111012 non-null  object
 6   animal_type       111012 non-null  object
 7   sex_upon_intake   111012 non-null  object
 8   age_upon_intake   111012 non-null  object
 9   breed             111012 non-null  object
 10  color             111012 non-null  object
 11  age_in_years      111012 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 11.0+ MB

## Group By

We can use a `groupby` function to find out interesting patterns among groups in our data. Let's use one now to find the average age of each animal type in years.

In [44]:
# Run just a groupby on the animal_type column - what's the output?
# Not very helpful...
clean_intakes.groupby(by = ['animal_type'])

In [45]:
# Groupbys by themselves don't really do anything because I haven't told you what to do with the other columns yet. 
# Add an aggregation function
clean_intakes.groupby(by=['animal_type']).agg(['mean', 'count'])

            age_in_years
                    mean  count
animal_type
Bird            1.301533    587
Cat             1.222097  44359
Dog             2.466617  59447
Livestock       0.500000     22
Other           1.207519   6597

## Merging Dataframes

We were given two data sources here - both an Intakes and an Outcomes CSV. Let's merge them!

![Merge diagram from Data Science Made Simple](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

[Image from Data Science Made Simple's post on Joining/Merging Pandas Data Frames](http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [46]:
# Read in our outcomes csv as a dataframe named outcomes
outcomes = pd.read_csv('Data/Austin_Animal_Center_Outcomes_030921.csv', parse_dates =['DateTime'])

In [47]:
clean_intakes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111012 entries, 0 to 124221
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         111012 non-null  object
 1   name              111012 non-null  object
 2   datetime          111012 non-null  datetime64[ns]
 3   found_location    111012 non-null  object
 4   intake_type       111012 non-null  object
 5   intake_condition  111012 non-null  object
 6   animal_type       111012 non-null  object
 7   sex_upon_intake   111012 non-null  object
 8   age_upon_intake   111012 non-null  object
 9   breed             111012 non-null  object
 10  color             111012 non-null  object
 11  age_in_years      111012 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 16.0+ MB

In [48]:
# Check out our outcomes data
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124600 entries, 0 to 124599
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124600 non-null  object
 1   Name              85540 non-null   object
 2   DateTime          124600 non-null  datetime64[ns]
 3   MonthYear         124600 non-null  object
 4   Date of Birth     124600 non-null  object
 5   Outcome Type      124580 non-null  object
 6   Outcome Subtype   57372 non-null   object
 7   Animal Type       124600 non-null  object
 8   Sex upon Outcome  124599 non-null  object
 9   Age upon Outcome  124599 non-null  object
 10  Breed             124600 non-null  object
 11  Color             124600 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.4+ MB

What column should we use to merge these DataFrames?

- Animal ID?

Let's do some quick cleaning on our outcomes dataframe...

In [49]:
# Change the 'DateTime' column here to be recognized as datetime objects
outcomes['DateTime'] = pd.to_datetime(outcomes['DateTime'])

In [50]:
# Change column names to be lower case and remove spaces
outcomes.columns = outcomes.columns.str.lower().str.replace(" ", "_")
outcomes.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08 18:20:00,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16 11:38:00,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13 17:59:00,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18 11:47:00,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [51]:
outcomes.duplicated().sum()

17

In [52]:
# Drop duplicate animal IDs, keeping only the 1st
# Save this as clean_outcomes
clean_outcomes = outcomes.drop_duplicates(subset = ['animal_id'],keep = 'first')

In [53]:
# Sanity check
clean_outcomes.duplicated().sum()

0

Now... let's merge!

In [54]:
# Code here to merge dataframes
total = pd.merge(clean_intakes, clean_outcomes, on=['animal_id'], how='inner', suffixes = ("_intakes", "_outcomes"))

In [55]:
total.head()

,animal_id,name_intakes,datetime_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,breed_intakes,...,datetime_outcomes,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,...,2019-01-08 15:11:00,01/08/2019 03:11:00 PM,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,...,2015-07-05 15:13:00,07/05/2015 03:13:00 PM,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,...,2016-04-21 17:17:00,04/21/2016 05:17:00 PM,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,...,2013-10-21 11:39:00,10/21/2013 11:39:00 AM,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,...,2014-07-02 14:16:00,07/02/2014 02:16:00 PM,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [56]:
len(clean_outcomes)

111405

In [57]:
len(clean_intakes)

111012

In [58]:
# Code here to check out the details of our new dataframe
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110590 entries, 0 to 110589
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   animal_id             110590 non-null  object
 1   name_intakes          110590 non-null  object
 2   datetime_intakes      110590 non-null  datetime64[ns]
 3   found_location        110590 non-null  object
 4   intake_type           110590 non-null  object
 5   intake_condition      110590 non-null  object
 6   animal_type_intakes   110590 non-null  object
 7   sex_upon_intake       110590 non-null  object
 8   age_upon_intake       110590 non-null  object
 9   breed_intakes         110590 non-null  object
 10  color_intakes         110590 non-null  object
 11  age_in_years          110590 non-null  int64
 12  name_outcomes         71998 non-null   object
 13  datetime_outcomes     110590 non-null  datetime64[ns]
 14  monthyear             110590 non-null  object
 15  date_of_birth         110590 non-null  object
 16  outcome_type          110574 non-null  object
 17  outcome_subtype       54388 non-null   object
 18  animal_type_outcomes  110590 non-null  object
 19  sex_upon_outcome      110590 non-null  object
 20  age_upon_outcome      110589 non-null  object
 21  breed_outcomes        110590 non-null  object
 22  color_outcomes        110590 non-null  object
dtypes: datetime64[ns](2), int64(1), object(20)
memory usage: 20.2+ MB

Let's discuss - can anyone guess why I had us remove duplicates before this merge? What would happen if I didn't? How could we make our combined_df better?

- It makes the data noisier 
- It would be very easy to have this blow up (because it would do it such a way where it merges each one along itself) 
- Otherwise, the merge will give you all possible combinations and merge with every combination, and you will end up with a lot of nonsense rows.

## Level Up!

1. Find the **age in days** for all animals, not just the ones whose age is provided in years. Be sure to do this on the original dataframe, not just on subsets of the dataframe.

   - (Assume a year is 365 days, and a month is 30 days)

        
2. Ask a few questions of the combined dataframe that you couldn't figure out by just looking at the intakes or outcomes dataframes by themselves.

   - Example: Can you find out how long each animal in the combined dataframe has been in the shelter? 
        
       - Hint: Check out Date Time objects - a new data type that isn't a string or an integer, but which Pandas can recognize as time! https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [59]:
# Code here to work on level up #1
intakes['age_upon_intake'].sort_values().unique()

array(['-1 years', '-2 years', '-3 years', '0 years', '1 day', '1 month',
       '1 week', '1 weeks', '1 year', '10 months', '10 years',
       '11 months', '11 years', '12 years', '13 years', '14 years',
       '15 years', '16 years', '17 years', '18 years', '19 years',
       '2 days', '2 months', '2 weeks', '2 years', '20 years', '21 years',
       '22 years', '23 years', '24 years', '25 years', '3 days',
       '3 months', '3 weeks', '3 years', '4 days', '4 months', '4 weeks',
       '4 years', '5 days', '5 months', '5 weeks', '5 years', '6 days',
       '6 months', '6 years', '7 months', '7 years', '8 months',
       '8 years', '9 months', '9 years'], dtype=object)

In [97]:
intakes = intakes.drop(['age_in_years'], axis = 1)

In [60]:
intakes['age_upon_intake'] = intakes['age_upon_intake'].str.split()

In [71]:
for element in intakes['age_upon_intake'][0]: 
    print (element, type(element))

2 <class 'str'>
years <class 'str'>

In [81]:
intakes['age_upon_intake_digit'] = intakes['age_upon_intake'].str[0]

In [83]:
intakes['age_upon_intake_digit'] = intakes['age_upon_intake_digit'].astype(int)

In [87]:
def contains_days(text): 
    bool_val = 'day' in text
    return bool_val

In [99]:
intakes['in_days'] = intakes['age_upon_intake'].map(contains_days)

In [104]:
days_index = (intakes['in_days'] == True)

In [105]:
intakes_days = intakes[days_index]

In [119]:
intakes_days['age_in_days'] = intakes_days['age_upon_intake_digit']

<ipython-input-119-d5fc0358b7af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  intakes_days['age_in_days'] = intakes_days['age_upon_intake_digit']

In [110]:
def contains_month(text): 
    bool_val = 'month' in text
    return bool_val

In [111]:
intakes['in_months'] = intakes['age_upon_intake'].map(contains_month)

In [112]:
months_index = (intakes['in_months'] == True)

In [113]:
intakes_months = intakes[months_index]

In [121]:
intakes_months['age_in_days'] = intakes_months['age_upon_intake_digit'] * 30
intakes_months.head()

<ipython-input-121-6319349134eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  intakes_months['age_in_days'] = intakes_months['age_upon_intake_digit'] * 30

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_upon_intake_digit,in_days,in_months,age_in_months,age_in_days
17,A783861,Tulip,2018-11-07 15:53:00,3110 Guadalupe Street in Austin (TX),Stray,Normal,Cat,Intact Female,"[1, month]",Domestic Shorthair Mix,Brown Tabby,1,False,True,1,30
19,A736287,*Twilight,2016-10-08 11:53:00,South First And Stassney in Austin (TX),Stray,Normal,Cat,Intact Female,"[1, month]",Domestic Shorthair Mix,Torbie,1,False,True,1,30
31,A759935,Dieve,2017-10-09 22:39:00,4800 Cottonwood St in Austin (TX),Stray,Normal,Dog,Intact Female,"[1, month]",Labrador Retriever Mix,Black,1,False,True,1,30
36,A789526,Sixlet,2019-02-23 11:22:00,2504 Stratford Drive in Austin (TX),Stray,Normal,Cat,Intact Female,"[1, month]",Domestic Shorthair Mix,Black,1,False,True,1,30
42,A812244,No Name,2020-01-18 14:14:00,Travis (TX),Owner Surrender,Normal,Dog,Intact Male,"[1, month]",Labrador Retriever,Tan,1,False,True,1,30

In [127]:
def contains_year(text): 
    bool_val = 'year' in text
    return bool_val

intakes['in_years'] = intakes['age_upon_intake'].map(contains_year)

years_index = (intakes['in_years'] == True)

intakes_years = intakes[years_index]

intakes_years['age_in_days'] = intakes_years['age_upon_intake_digit'] * 365

<ipython-input-127-d2b4189b7952>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  intakes_years['age_in_days'] = intakes_years['age_upon_intake_digit'] * 365

In [ ]:
# Split 'age upon intake' into two elements - number and unit 
# Grab digit from 'age upon intake', transform into new column and add to new column - "age_upon_intake_digit"
# Use filter and create 3 new dataframes - intakes_years, intakes_months, intakes_days 
# Create 'age_in_days' column and perform appropriate operations according to the unit 
# - intakes_years = "age_in_days" = "age_upon_intake_digit" * 365
# - intakes_months = "age_in_days" = "age_upon_intake_digit" * 30
# - intakes_days = "age_in_days" = "age_upon_intake_digit"


new = old.filter(['A','B','D'], axis=1)

In [ ]:
# Code here to work on level up #2